.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  box-shadow: #333 0 0 11px -3px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand{
  padding: 6px 12px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin:0;
  padding:0;
}

.navbar ul li a{
  text-decoration: none;
  padding: 6px 12px;
  color:#333;
  border: 2px solid #e8e8e8;
  border-radius: 6px;
  margin-left: 16px;
}

.hero{
  /* height:450px; */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero h1{
  margin-bottom: 0 !important;
  padding-bottom: 0;
  font-size: 62px;
}

.hero .subtitle{
  font-weight: 300;
  margin-top: 0;
  font-size: 20px;
}

.search{
  padding:12px 24px;
  border-radius: 12px;
  border: 2px solid #d3d3d3;
  width: 100%;
  max-width: 450px;
}

.bookmarks-list .search-result, 
.search-results .search-result{
  display: flex;
  margin-top: 25px;
  box-shadow: #333 0px 3px 6px -4px;
  border-radius: 8px;
  justify-content: space-between;
}
.bookmarks-list .search-col .label,
.search-results .search-col .label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
}
.bookmarks-list .search-col,
.search-results .search-col {
  padding: 14px;
}

.bookmarks-list .bookmark,
.search-results .bookmark{
  cursor: pointer;
}
.search-results{
  font-size: 15px;
  border: 2px solid #ededed;
  border-radius: 10px;
  margin-top: 8px;
  background: #ededed;
}
.search-results .search-result{
  box-shadow: none;
  margin:0;
}
.mt-25{
  margin-top: 25px;
}

.search-result__left{
  display: flex;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  color:#333;
}

.main {
  width: 100%;
  max-width: 980px;
}

.main .token-details{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: space-between;
  background: #ebebeb;
  padding: 20px 28px;
  border-radius: 8px;
  align-items: center;
}
.main .token-details .token-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.main .token-details .token-image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.main .token-details .token-name{
  margin-left: 25px;
  display: flex;
    align-items: center;
}
.main .token-details .token-name h2{
  margin-bottom: 0;
  margin-top:0;
}
.main .token-details .token-name p{
  margin-top: 0;
  font-size: 14px;
  font-weight: 300;
}
.main .token-details .token-details__left{
  display:flex;
}
.mr-25{
  margin-right: 25px;
}
.label {
  font-size: 12px;
}

.token-info {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}